body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #F3F3F3;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background: #171717;
}

main section {
  display: block;
  margin: 15px auto;
  width: 30px;
  height: 30px;
}

main .colors {
  background: #171717;
  border: 1px solid #F3F3F3;
  position: relative;
}

main .colors .color-picker {
  display: none;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .colors .color-picker:focus {
  display: block;
}

main .colors:hover .color-picker {
  display: block;
}

main .thickness {
  position: relative;
  background-color: #F3F3F3;
}

main .thickness::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #171717;
}

main .thickness .stroke-weight {
  display: none;
  position: absolute;
  width: auto;
  height: 25px;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .thickness .stroke-weight:focus {
  display: block;
}

main .thickness:hover .stroke-weight {
  display: block;
}

#save {
  background-color: powderblue;
}

main .clear {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background-color: #FFCE00;
  border: none;
  outline: none;
  cursor: pointer;
}

.download {
  height : 29px;
  width : 29px;
  margin : 0 0 0 -5px;
}
